:root {
  /* Color */
  --accent-color: #4928ff;
  --base-color: #000000;
  --secondary-color: #615d5d;
  --light-color: #eaeaea;
  --background-color: #e3e3e3;

  /* Tipografi */
  --font-family: "Inter";
  --heading-font-size: 64px;
  --body-font-size: 14px;
}
